/// @name VideoJS Resume Card

:global(.vjs-resumecard)
{
  background-color: #000;
  bottom: 0;
  display: none;
  left: 0;
  padding: 20px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}
