/// @name VideoJS Resume Card

.vjs-resume-card
{
  background-color: #000;
  bottom: 0;
  display: none;
  left: 0;
  padding: 20px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

/// @name VideoJS Resume Card Action List

.vjs-resume-card-action-list
{
  list-style: none;
  margin: 0;
  padding: 0;
}

/// @name VideoJS Resume Card Action Item

.vjs-resume-card-action-item
{
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;

  &:first-child
  {
    margin-left: 0;
  }

  &:last-child
  {
    margin-right: 0;
  }
}

/// @name VideoJS Resume Card Button

.vjs-resume-card-button
{
  padding: 10px 15px;
}

/// @name VideoJS Resume Card Restart Button

.vjs-resume-card-restart-button
{

}

/// @name VideoJS Resume Card Resume Button

.vjs-resume-card-resume-button
{

}
